html,
body {
    height: 200vh;
}

body {
  margin: 8px;
  display:block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#map{
  display: inline-block;
  position: relative;
  height: 500px;
  width: 100vw;
  cursor:pointer;
}

.sidebar{
  position: absolute;
  z-index: 1;
  background-color: rgba(241, 241, 241,0.9);
  overflow-y: scroll;
  max-height: 500px;
  max-width: 300px;
  height: 500px;
  width: 300px;
  margin-top: 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transition: opacity .3s ease-out, visibility .3s ease-out;
    h1{
      margin-top: 0;
      font-size: 13px;
      font-family: 'Google Sans',Roboto, Arial,sans-serif;
      color: black;
      margin-bottom: 10px;
    }
    p{
          color: black;
          font-weight: 500;
          margin-bottom: 0;
          margin-top: 0;
    }
    h4{
          color: black;
          font-weight: 500;
          margin-bottom: 0;
          margin-top: 0;
    }
  }

#event-card{
  box-shadow: -2px 2px 4px rgb(0, 0, 0);
}

.join-button, #message-button {
  background-color: #fff;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  border-radius: 0px;
  outline: none;
  height: 36px;
  width: 50%;
    &:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
}

#button-section{
  margin-top: 0;
}

.invite-button{
  background-color: #fff;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  border-radius: 0px;
  outline: none;
  height: 36px;
  width: 100%;
    &:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
}

#img-container{
  // box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

#map-container {
  position: relative;
}



#calendar-container{
  display: flex;
  width: 100vw;
  justify-content: center !important;
}

#calendar-div{
  display: inline-block;
}

.react-calendar{
  width: 70vw !important;
  height: 500px;
  display: inline-block;
}
.calendar-sidebar{
  display: inline-block;
  background-color: rgba(241, 241, 241,0.9);
  overflow-y: scroll;
  max-height: 500px;
  max-width: 300px;
  height: 500px;
  width: 30vw;
  margin-top: 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transition: opacity .3s ease-out, visibility .3s ease-out;
    h1{
      margin-top: 0;
      font-size: 13px;
      font-family: 'Google Sans',Roboto, Arial,sans-serif;
      color: black;
      margin-bottom: 10px;
    }
    p{
          color: black;
          font-weight: 500;
          margin-bottom: 0;
          margin-top: 0;
    }
    h4{
          color: black;
          font-weight: 500;
          margin-bottom: 0;
          margin-top: 0;
    }
  }



#event-descriptions{
  // box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  margin-bottom: 0;
}

.image-upload > input {
  cursor: pointer;
  visibility:hidden;
  width:0;
  height:0
}


.x-mark{
  color: black;
  float: right;
  cursor: pointer;
  height: 30px;
  width: 30px;
  text-align: center;
  margin:0px;
  padding: 0px;
  &:hover {
  // background-color: #2EE59D;
  // box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #2EE59D;
  transform: translateY(-2px);
}
}

#line{
height: 0px;
border-bottom: 1px solid #e6e6e6;
}

.modal {
  position: fixed;
  top: 0%;
  z-index: 1;
  width: 100%;
  height: 1000px;
  background-color: rgba(0, 0, 0, 0.25);
}

#friend-list, #guest-list{
  color: black;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  // font-size: 13px;
  font-family: 'Google Sans',Roboto, Arial,sans-serif;
}

.friend, .guest{
  color: black;
  vertical-align: middle;
  list-style-type: none;
  margin: 6px;
  cursor:pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  border-radius: 20px;
  outline: none;
  height: 36px;
    &:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }

}

 .reccomdentation{
   color: black;
   vertical-align: middle;
   margin: 6px;
   font-family: 'Roboto', sans-serif;
   font-size: 11px;
   text-transform: uppercase;
   letter-spacing: 2.5px;
   font-weight: 500;
   box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
   transition: all 0.3s ease 0s;
   border-radius: 20px;
   outline: none;
   height: 36px;
 }

.modal_content {
  background-color: rgba(241, 241, 241,0.9);
  box-shadow: 0px 28px 65px rgba(46, 229, 157, 1);
  position: absolute;
  top: 20%;
  left: 30%;
  width: 40%;
  padding: 20px;
  border-radius: 20px;
  // border: 2px solid black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-height: 550px;
  overflow-y: scroll;

}

.profile{
  color: black;
  vertical-align: middle;
  list-style-type: none;
  margin: 6px;
  cursor:pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  border-radius: 20px;
  outline: none;
  height: 130px;
    &:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
}

#upload-icon{
  cursor: pointer;
  height: 40vh;
  width: 40vw;
  padding-top: 15px;
}

#logging{
  cursor: pointer
}

#user-icon{
  height: 38vh;
  width: 38vw;
  padding-top: 15px;
    &:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }

.nav-section{
  ul{
    list-style-type: none;
  }
}

  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }
  }

.log-in{
  position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: 100px auto;
}

.logo{
  position: absolute;
  top: -50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: block;
  background: url(./assets/my-logo.png) no-repeat center;
  background-size: 104px 110px;
  width: 104px;
  height: 110px;
}

.nb-card{
  position: relative;
  margin: auto;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  border-radius: 3px;
  background-color: #fff;
  width: 392px;
  padding: 16px 32px;
}

.heading{
  padding: 48px 0 24px;
}

.sign-up-link-container, .sign-in-link-container{
  font-size: 12px;
  color: #282828;
  display: inline-block;
  float: right;
  line-height: 2.2;
}

#sign-up-link, #sign-in-link{
  text-decoration: none;
  color: #ef5b25;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
}

#sign-in-word, #sign-up-word{
  font-size: 18px;
    font-weight: bold;
    color: #282828;
    display: inline-block;
    margin: 0;
}

#sign-in-form{
  display: block;
  margin-top: 0em;
}

.nb-form-group{
  margin-bottom: 16px;
  position: relative;
}

.nb-form-control{
  font-size: 14px;
height: 40px;
color: #282828;
border-radius: 3px;
box-shadow: none;
border: 1px solid #d4d4d4;
padding: 8px;
display: block;
width: 100%;
line-height: 1.42857143;
background-color: #fff;
background-image: none;
}

.nb-btn{
  display: inline-block;
  padding: 10px 16px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 3px;
}

.nb-btn-primary{
  color: #fff;
      background-color: #f26b3a;
      height: 40px;
      width: 100%;
}

#sign-in-btn{

}

.terms-link{
  color: #808080;
    font-size: 12px;
    padding: 0 36px;
    margin-bottom: 0;
}
